{% extends 'base.html.twig' %}

{% block title %}
    Přihlášení
{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    
        <div class="card bg-light mx-auto my-4" style="max-width: 350px;">
            <article class="card-body mx-auto">
                <h4 class="card-title mt-3 text-center">Přihlášení</h4>

                <form action="{{ path('app_login') }}" method="post">
                
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <div class="mb-3 input-group">
                        <span class="input-group-text"> 
                            <i class="fa fa-lock"></i> 
                        </span>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required>
                    </div>

                    <div class="mb-3 input-group">
                        <span class="input-group-text"> 
                            <i class="fa fa-envelope"></i> 
                        </span>
                        <input type="password" id="password" name="_password" class="form-control"  required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Přihlásit se!</button>
                    </div>

                    <p class="text-center mt-3">Nemáš ještě účet? <a href="/registrace">Registruj se!</a></p>

                </form>
            </article>

        </div>
     

    
{% endblock %}
