//COLORS
$color-white: #FFF;
$color-half-white: rgba(255, 255, 255, 0.5);
$color-black: #000;
$color-transparent-black: rgba(0, 0, 0, 0.4);

//fontweigts
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;