//COLORS
$color-white: #FFF;
$color-black: #000;
$color-body-text-light: #304454;
$color-title-text-blue: #003056;
$color-title-text-light-blue: #8CABC3;
$color-accent: #0075C9;
$color-accent-darker: #0262a5;
$color-background-light-blue: #F6F9FB;
$color-secondary-background-light-blue:#F5F9FB;
$color-secondary-background-dark-blue: #003056;
$color-secondary-background-dark-blue-dark-mode: #191E27;
$color-image-border: #E6E9EB;
$color-border-light: #ECEFF1;
$color-border-dark: #222A37;
$color-body-text-dark: #8CABC3;
$color-background-dark: #161B24;
$color-secondary-border-light: #043C68;
$color-secondary-border-dark: #232A37;
$color-progress-bg-light: #D7E4EA;
$color-progress-bg-dark: #232A37;
$color-placeholder-input-light: #ABB7C0;
$color-header-bg-scrolled-dark: #232932;
$color-header-bg-scrolled-light: #102A47; 

//fontweigts
$font-weight-body-text: 400;
$font-weight-title-text: 700;