section.presentations__heading {
	padding: 120px 0 0 0;
	@include resp('l') {
		flex-direction: column;
		padding: 80px 0 0 0;
	}

	.title {
		margin-right: 40px;
		max-width: 510px;
		min-width: 510px;
		width: 100%;
		@include resp('l') {
			margin-right: 0;
			margin-bottom: 24px;
			min-width: unset;
			max-width: 100%;
		}
		@include resp('m') {
			margin-bottom: 16px;
		}

		> * {
			@include fontSize(64px);
			line-height: 72px;
			width: 100%;
			font-weight: $font-weight-title-text;
			word-break: break-word;
			@include theme() {
				color: t(title-color);
			}
			@include resp('m') {
				min-width: unset;
				@include fontSize(40px);
			}
		}
	}
	.text {
		p {
			line-height: 34px;
		}
	}
}

section.presentations__presentations {
	padding: 80px 0 80px 0;
	@include theme() {
		border-bottom: 1px solid t(border-color);
	}

	@include resp('l') {
		padding: 80px 0;
	}

	@include resp('m') {
		padding: 40px 0;
	}
	.date {
		@include fontSize(14px);
		margin-bottom: 8px;
	}
	.btn-wrapper {
		display: flex;
		justify-content: center;
		.btn {
			min-width: 180px;
		}
	}
}
